main .img_part h2, main .text_part h2 {
  color: red;
  padding-left: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  border: 1px solid black;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  background: url("../img/bc.png") 0 0/contain repeat-x;
  height: 10vh;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
nav input {
  display: none;
}
nav label {
  height: 100%;
}
nav label img {
  height: 70%;
  margin: 10px;
}
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  margin-top: 10px;
  padding: 0;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav ul li {
  display: inline-block;
  width: 20%;
  margin-left: 10px;
  margin-top: 10px;
}
nav ul li a {
  background-color: rgb(254, 235, 235);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 3px;
  -webkit-box-shadow: 3px 3px 3px black;
          box-shadow: 3px 3px 3px black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: red;
  padding: 7px 24px 10px 24px;
  width: 80%;
  height: 35px;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
}
nav ul li a:hover {
  -webkit-box-shadow: 1px 1px 1px black;
          box-shadow: 1px 1px 1px black;
  -webkit-transform: translate(1px 1px);
      -ms-transform: translate(1px 1px);
          transform: translate(1px 1px);
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(#cce7ff), color-stop(#1e90ff), to(#000080));
  background: linear-gradient(to right, #ffffff, #cce7ff, #1e90ff, #000080);
  color: rgb(253, 253, 253);
}
@media (max-width: 700px) {
  nav {
    height: 100%;
    margin-bottom: 50px;
  }
  nav label {
    height: 30px;
    position: absolute;
    opacity: 100%;
  }
  nav label img {
    height: 100%;
    margin: 10px;
  }
  nav ul {
    -webkit-transform: translateY(-200px);
        -ms-transform: translateY(-200px);
            transform: translateY(-200px);
    -webkit-transition: 0.001s;
    transition: 0.001s;
    opacity: 0;
    position: absolute;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 50px;
  }
  nav ul li {
    margin-top: 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
  nav input:checked ~ ul {
    -webkit-transform: translateY(5px);
        -ms-transform: translateY(5px);
            transform: translateY(5px);
    opacity: 1;
    position: relative;
  }
  nav input:checked + label {
    top: 5px;
  }
  nav input:checked + label img {
    margin: 5px 0 0 10px;
  }
}

aside article figure figcaption, aside h2, aside form {
  color: rgb(216, 21, 21);
}

aside {
  background-color: rgba(253, 211, 255, 0);
  -webkit-box-flex: 1;
      -ms-flex: 1 1 300px;
          flex: 1 1 300px;
  margin-top: 20px;
}
aside form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(#cce7ff), to(#1e90ff));
  background: linear-gradient(to right, #ffffff, #cce7ff, #1e90ff);
}
aside form .inf {
  display: inline-block;
}
aside h2 {
  width: 100%;
  text-align: center;
}
aside article {
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(#cce7ff), to(#1e90ff));
  background: linear-gradient(to right, #ffffff, #cce7ff, #1e90ff);
  border: 1px solid black;
  padding: 0;
}
aside article figure {
  margin: 5px;
  padding: 0;
  display: grid;
  grid-template-columns: 25% 72%;
  grid-gap: 5px;
}
aside article figure img {
  width: 100%;
  height: 130px;
}
@media (min-width: 816px) {
  aside {
    margin-left: 20px;
  }
}

main .img_part h2, main .text_part h2 {
  color: red;
  padding-left: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  border: 1px solid black;
}

main {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 500px;
          flex: 2 1 500px;
}
main .text_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
main .text_part h2 {
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(#cce7ff), to(#1e90ff));
  background: linear-gradient(to right, #ffffff, #cce7ff, #1e90ff);
  font-size: 150%;
  text-align: center;
}
main .text_part p {
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(#cce7ff), to(#1e90ff));
  background: linear-gradient(to right, #ffffff, #cce7ff, #1e90ff);
  min-height: 170px;
  font-size: 120%;
  text-align: center;
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  border: 1px solid black;
  color: rgb(216, 21, 21);
  padding-top: 20px;
}
@media (max-width: 816px) {
  main .text_part h2 {
    padding-left: 0px;
  }
}
main .img_part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
main .img_part h2 {
  height: auto;
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(#cce7ff), to(#1e90ff));
  background: linear-gradient(to right, #ffffff, #cce7ff, #1e90ff);
  text-align: center;
}
main .img_part div {
  margin-top: 15px;
  overflow: hidden;
  position: relative;
  width: 200px;
  white-space: nowrap;
}
main .img_part div img {
  height: 150px;
  width: 200px;
}
@media (max-width: 816px) {
  main .img_part h2 {
    padding-left: 0px;
  }
}

main .text_part h2, main .img_part h2 {
  color: red;
  padding-left: 100px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  border: 1px solid black;
}

footer {
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), color-stop(#cce7ff), to(#1e90ff));
  background: linear-gradient(to right, #ffffff, #cce7ff, #1e90ff);
  padding-left: 5px;
  margin-top: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  color: rgb(216, 21, 21);
  background-size: cover;
  height: auto;
}
footer h4 {
  margin: 2px;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}