$hover_t: rgb(253, 253, 253);
$hover:  rgb(253, 253, 253);
$rsh: 20px;
$zav: 10px;
@function hover($i){
    @if($i==1){
        @return $hover_t;
    }
    @else{
        @return $hover;
    }
}
@function font_size($rsh, $zav) {
  @return $rsh + $zav;
}
